<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Init_choixService</servlet-name>
        <servlet-class>controlleur.Init_choixService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Form_annonce</servlet-name>
        <servlet-class>controlleur.Form_annonce</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Save_annonce</servlet-name>
        <servlet-class>controlleur.Save_annonce</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inint_listeAnnonce</servlet-name>
        <servlet-class>controlleur.Inint_listeAnnonce</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detail_Annonce</servlet-name>
        <servlet-class>controlleur.detail_Annonce</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controlleur.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inscri</servlet-name>
        <servlet-class>controlleur.Inscri</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deconnexion</servlet-name>
        <servlet-class>controlleur.Deconnexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnexionService</servlet-name>
        <servlet-class>controlleur.ConnexionService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormCV</servlet-name>
        <servlet-class>controlleur.FormCV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Save_CV</servlet-name>
        <servlet-class>controlleur.Save_CV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Init_AnnonceRh</servlet-name>
        <servlet-class>controlleur.Init_AnnonceRh</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Init_Questionnaire</servlet-name>
        <servlet-class>controlleur.Init_Questionnaire</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Save_Questionnaire</servlet-name>
        <servlet-class>controlleur.Save_Questionnaire</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Init_Admission</servlet-name>
        <servlet-class>controlleur.Init_Admission</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCvByAnnonce</servlet-name>
        <servlet-class>controlleur.ListCvByAnnonce</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotifTest</servlet-name>
        <servlet-class>controlleur.NotifTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Repondre_questionnaire</servlet-name>
        <servlet-class>controlleur.Repondre_questionnaire</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Save_test</servlet-name>
        <servlet-class>controlleur.Save_test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RalongerAnnonce</servlet-name>
        <servlet-class>controlleur.RalongerAnnonce</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Init_choixService</servlet-name>
        <url-pattern>/Init_choixService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Form_annonce</servlet-name>
        <url-pattern>/Form_annonce</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Save_annonce</servlet-name>
        <url-pattern>/Save_annonce</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inint_listeAnnonce</servlet-name>
        <url-pattern>/Inint_listeAnnonce</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detail_Annonce</servlet-name>
        <url-pattern>/detail_Annonce</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inscri</servlet-name>
        <url-pattern>/Inscri</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deconnexion</servlet-name>
        <url-pattern>/Deconnexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnexionService</servlet-name>
        <url-pattern>/ConnexionService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormCV</servlet-name>
        <url-pattern>/FormCV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Save_CV</servlet-name>
        <url-pattern>/Save_CV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Init_AnnonceRh</servlet-name>
        <url-pattern>/Init_AnnonceRh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Init_Questionnaire</servlet-name>
        <url-pattern>/Init_Questionnaire</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Save_Questionnaire</servlet-name>
        <url-pattern>/Save_Questionnaire</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Init_Admission</servlet-name>
        <url-pattern>/Init_Admission</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCvByAnnonce</servlet-name>
        <url-pattern>/ListCvByAnnonce</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotifTest</servlet-name>
        <url-pattern>/NotifTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Repondre_questionnaire</servlet-name>
        <url-pattern>/Repondre_questionnaire</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Save_test</servlet-name>
        <url-pattern>/Save_test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RalongerAnnonce</servlet-name>
        <url-pattern>/RalongerAnnonce</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
